@import "tailwindcss";

:root {
  --primary: #00407c;
  --secondary: #80e5f4;
  --light: #ffffff;
  --dark: #171717;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
  --color-dark: var(--dark);
}

.container {
  max-width: 1280px !important;
}
